body {
  margin: 0;
  padding: 2rem;
}

.grid-container {
  outline: 1rem solid #f00;
  margin-bottom: 30rem;
}

.grid-item {
  background-color: green;
  width: 100px;
  height: 100px;
}

/* END OF DEFAULT STYLES */
