@mixin light-gray-border($radius: 2rem, $border-box: off) {
    border: 1px solid lightgray;
    border-radius: $radius;

    @if $border-box == on {
        box-sizing: border-box;
    } @else if $border-box != off {
        @error "Invalid value for $border-box: #{$border-box}";
    }
}
