@use "./tokens";

body {
  display: grid;
  row-gap: var(--wfeg-biro2-comp-vertical-layout-spacing);
  grid-template-columns:
    var(--wfeg-biro2-comp-main-section-horizontal-spacing)
    1fr
    4fr
    var(--wfeg-biro2-comp-main-section-horizontal-spacing);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header  header  header  header "
    ".       sidebar content .      "
    "footer  footer  footer  footer ";
  min-height: 100dvh;
  margin: 0;
  color: var(--wfeg-biro2-sys-default-font-color);
  font-family: var(--wfeg-biro2-sys-default-font-family);
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--wfeg-biro2-comp-header-padding);
  box-shadow: var(--wfeg-biro2-comp-header-box-shadow);
  border-top: var(--wfeg-biro2-comp-header-top-border);

  .logo-link .logo-container {
    padding: var(--wfeg-biro2-comp-title-button-padding);
    background-color: var(--wfeg-biro2-comp-title-button-background-color);
    color: var(--wfeg-biro2-comp-title-button-color);
    font-weight: bold;
    border-radius: var(--wfeg-biro2-comp-title-button-border-radius);
    user-select: none;
    cursor: pointer;
    transition: transform var(--wfeg-biro2-comp-title-button-hover-transition-time)
      ease;

    &:hover {
      transform: scale(var(--wfeg-biro2-comp-title-button-hover-scale-ratio));
    }
  }

  #lang-switch {
    $switch-height: var(--wfeg-biro2-comp-language-selector-height);
    $padding: var(--wfeg-biro2-comp-language-selector-padding);

    background-color: var(--wfeg-biro2-comp-language-selector-background-color);
    display: flex;
    align-items: stretch;
    padding: $padding;
    border-radius: calc($switch-height / 2 + $padding);
    height: $switch-height;
    font-weight: var(--wfeg-biro2-comp-language-selector-items-font-weight);
    user-select: none;

    a {
      color: var(--wfeg-biro2-comp-language-selector-items-color);
      padding: var(--wfeg-biro2-comp-language-selector-item-vertical-padding)
        var(--wfeg-biro2-comp-language-selector-item-horizontal-padding);
      border-radius: calc($switch-height / 2);
      min-width: var(--wfeg-biro2-comp-language-selector-item-width);
      text-align: center;
      cursor: pointer;

      &.active {
        background-color: var(
          --wfeg-biro2-comp-language-selector-item-selected-background-color
        );
      }
    }
  }
}

aside {
  grid-area: sidebar;
  display: flex;
  align-items: center;
  box-shadow: var(--wfeg-biro2-comp-sidebar-box-shadow);

  ul {
    list-style: none;
    padding-left: 0;
    user-select: none;
    flex-basis: 100%;
  }

  li {
    font-size: var(--wfeg-biro2-comp-sidebar-item-font-size);
    padding: var(--wfeg-biro2-comp-sidebar-item-vertical-padding)
      var(--wfeg-biro2-comp-sidebar-item-horizontal-padding);
    text-wrap: wrap;
    cursor: pointer;
    border-left: var(--wfeg-biro2-comp-sidebar-item-hover-border-left);
    transition: all var(--wfeg-biro2-comp-sidebar-item-hover-transition-time) ease;

    &:hover {
      background-color: var(--wfeg-biro2-comp-sidebar-item-hover-background-color);
    }

    &:not(:hover) {
      border-color: transparent;
    }
  }
}

main {
  grid-area: content;
  box-shadow: var(--wfeg-biro2-comp-content-box-shadow);
  font-size: var(--wfeg-biro2-comp-content-font-size);
  height: fit-content;

  .card {
    border: var(--wfeg-biro2-comp-main-content-divider-border);
    border-radius: var(--wfeg-biro2-comp-content-card-border-radius);

    .card-header {
      color: var(--wfeg-biro2-comp-content-heading-color);
      background-color: var(--wfeg-biro2-comp-content-heading-background-color);
      border-bottom: var(--wfeg-biro2-comp-main-content-divider-border);
      padding: var(--wfeg-biro2-comp-content-card-header-padding);

      h1 {
        text-align: center;
        margin: 0;
        font-size: var(--wfeg-biro2-comp-content-heading-font-size);
        font-weight: var(--wfeg-biro2-comp-content-heading-font-weight);
      }
    }

    .card-body {
      width: fit-content;
      margin: auto;

      table {
        margin: var(--wfeg-biro2-comp-content-card-table-top-spacing) auto
          var(--wfeg-biro2-comp-content-card-table-bottom-spacing);
        border-collapse: collapse;

        th,
        td {
          text-align: start;
          border: var(--wfeg-biro2-comp-main-content-table-border);
          padding: var(--wfeg-biro2-comp-content-card-table-cell-vertical-padding)
            var(--wfeg-biro2-comp-content-card-table-cell-horizontal-padding);
        }
      }
    }
  }
}

footer {
  grid-area: footer;
  color: var(--wfeg-biro2-comp-footer-copyright-color);
  text-align: center;
  padding-block: var(--wfeg-biro2-comp-footer-vertical-padding);
  font-size: var(--wfeg-biro2-comp-footer-font-size);
  line-height: var(--wfeg-biro2-comp-footer-line-height);

  .site-reference {
    color: var(--wfeg-biro2-comp-footer-site-reference-color);
    font-size: var(--wfeg-biro2-comp-footer-site-reference-font-size);

    a {
      color: inherit;
    }
  }
}
