body {
  margin: 0;
  height: 100dvh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 10%);
  background-image: url("https://images6.alphacoders.com/516/516511.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
  }
}

::selection {
  background-color: hsl(86, 100%, 70%);
}

article {
  width: clamp(15rem, 50%, 35rem);
  margin: auto;
  background-color: hsl(86, 100%, 90%);
  padding: 2rem;
  border-radius: 3px;

  h1 {
    text-align: center;
    font-size: 2rem;
    text-wrap: balance;

    .book-title {
      font-style: italic;
    }
  }

  .subtitle {
    text-align: center;
    font-style: italic;
    margin-top: 0;
  }

  main {
    padding: 1rem;
    padding-bottom: 0;

    p {
      text-indent: 1rem;
      text-align: justify;
      text-wrap: pretty;
      margin-block: 0rem;

      &:nth-child(2) {
        margin-bottom: 1rem;
      }
    }
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 2rem;

  .tag {
    padding: 0.25rem 0.5rem;
    background-color: hsl(86, 100%, 50%);
    border-radius: 2ch;
    font-size: 0.75rem;
    user-select: none;
    cursor: pointer;
  }
}

.newsletter-subscription-container {
  padding: 1.5rem;
  background-color: hsl(86, 100%, 95%);
  isolation: isolate;

  .subscription-info {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
  }

  label {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    user-select: none;
    cursor: pointer;

    input {
      width: 2rem;
      height: 2rem;
      accent-color: forestgreen;
      flex-shrink: 0;
      cursor: inherit;
    }

    .checkbox-text {
      font-size: 1.25rem;
    }
  }

  button {
    display: block;
    position: relative;
    padding: 1rem 2rem;
    background: linear-gradient(to bottom, hsl(86, 100%, 80%), hsl(86, 100%, 30%));
    border: none;
    border-radius: 2ch;
    margin: auto;
    font-size: 1.75rem;
    cursor: pointer;
    user-select: none;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background: inherit;
      border-radius: inherit;
      filter: blur(0.75rem);
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
