body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(4, minmax(15rem, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.card {
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid lightgray;
}

.card:nth-child(1) {
    background-color: hsl(from rebeccapurple h s 5%);
    color: white;
}

.card:nth-child(2) {
    background-color: hsl(from rebeccapurple h s 15%);
    color: white;
}

.card:nth-child(3) {
    background-color: hsl(from rebeccapurple h s 25%);
    color: white;
}

.card:nth-child(4) {
    background-color: hsl(from rebeccapurple h s 35%);
    color: white;
}

.card:nth-child(5) {
    background-color: hsl(from rebeccapurple h s 45%);
}

.card:nth-child(6) {
    background-color: hsl(from rebeccapurple h s 55%);
}

.card:nth-child(7) {
    background-color: hsl(from rebeccapurple h s 65%);
}

.card:nth-child(8) {
    background-color: hsl(from rebeccapurple h s 75%);
}

.card:nth-child(9) {
    background-color: hsl(from rebeccapurple h s 85%);
}

.card:nth-child(10) {
    background-color: hsl(from rebeccapurple h s 95%);
}

.card img {
    float: left;
    margin-right: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
    box-sizing: border-box;
}

.card h2 {
    margin-top: 0;
}
